.dial {
    height: 400px;
    width: 400px;
  }

@media(max-width:600px){
    .dial{
        height:300px;
        width:300px;
    }

    input#durationInput{
        width:200px;
        font-size: 60px;
    }
}
  
  .timer {
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: 15vh;
    /* align-items: center; */
  }
 
  * {
    font: inherit;
  }
  
  body {
    font-family: 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans',
      'Droid Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  }
  
  .timer input {
    display: block;
    border: none;
    width: 240px;
    font-size: 90px;
    text-align: center;
  }
  
  .timer button {
    border: none;
    font-size: 36px;
    cursor: pointer;
  }
  
  .timer button:focus {
    outline: none;
  }
  
  .timer input:focus {
    outline: none;
  }
  
  .controls {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .blinking{
    animation:blinkingText .8s infinite;
}
@keyframes blinkingText{
    0%{     color: red;    }
    49%{    color: red; }
    60%{    color: transparent; }
    99%{    color:transparent;  }
    100%{   color: red;    }
}